<head>
  <title><%= boring_science_page_title %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

  <%= render partial: 'layouts/boring_science/includes' %>
</head>
