<div class="boring-science-metadata">
  <% if article.author %>
    <div class="boring-science-author">
      <%= article.author.name %>
    </div>
  <% end %>

  <div class="boring-science-date">
    <%= boring_science_article_date(article) %>
  </div>
</div>
